<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Form Add Product</title>
</head>

<body>
	<form method="POST" th:object="${product}" th:action="@{/product/save}">
		<input type="hidden" th:field="*{id}" />
		<table border="1">
			<tr>
				<td>Product Code</td>
				<td><input type="text" th:field="*{pCode}" /></td>
			</tr>
			<tr>
				<td>Variant Name</td>
				<td>
					<select th:field="*{vId}">
						<option th:each="item:${listvariant}"
						th:text="${item.variantName}"
						th:value="${item.id}">
						</option>
				</td>
			</tr>
			<tr>
				<td>Product Name</td>
				<td><input type="text" th:field="*{pName}" /></td>
			</tr>
			<tr>
				<td>Product Description</td>
				<td><input type="text" th:field="*{pDescription}" /></td>
			</tr>
			<tr>
				<td>Product Price</td>
				<td><input type="tel" th:field="*{pPrice}" /></td>
			</tr>
			<tr>
				<td>Product Stock</td>
				<td><input type="tel" th:field="*{pStock}" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Save" /></td>
			</tr>
		</table>
	</form>
</body>

</html>