<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Product Page</title>
</head>

<body>
	<h3>Product List</h3>
	<button onclick="window.location.href='/product/formaddproduct'">Tambah Data</button>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Product Code</th>
				<th>Variant</th>
				<th>Product Name</th>
				<th>Product Description</th>
				<th>Product Price</th>
				<th>Product Stock</th>
				<th colspan="2">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${listproduct}">
				<td th:text="${item.Id}"></td>
				<td th:text="${item.pCode}"></td>
				<td><label th:text="${item.variant.category.categoryName} +' /'">
				</label>
				<label th:text="${item.variant.variantName}"/>
				</td>
				<td th:text="${item.pName}"></td>
				<td th:text="${item.pDescription}"></td>
				<td th:text="${item.pPrice}"></td>
				<td th:text="${item.pStock}"></td>
				<td><a th:href="@{/product/edit/{id}(id=${item.id})}">Edit</a></td>
				<td><a th:href="@{/product/delete/{id}(id=${item.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>

</html>